<%- include ../partials/nav.ejs %>

<div class="job-list-page">
	<div class="job-list">
		<h1>Check out the recent jobs</h1>
		<% job.forEach(function(job){%>
			<a href="/jobs/<%= job.id%>" class="job-info">
				<h5><%= job.title%></h5>
				<div class="likes">
					<i class="fa fa-heart-o" aria-hidden="true"></i><span>2</span>
				</div>
				<p><%= job.company %> - <%= job.location %> - <%= job.salary%> - <%= job.level%> - <%= job.jobType%></p>
				<div class="desc"><%- job.description%></div>
			</a>
		<%})%>
	</div>
</div>

