<%- include ../partials/nav.ejs %>

<div class="job-details-page">
	<div class="job-details">
		<h2><%= job.title%></h2>
		<div class="job-important">
			<p><b>Company:</b> <%= job.company%></p>
			<p><b>Location:</b> <%= job.location%></p>
			<p><b>Level:</b> <%= job.level%></p>
			<p><b>Salary:</b> <%= job.salary%></p>
			<p><b>Job Type:</b> <%= job.jobType%></p>
		</div>
		<p><%- job.description%></p>
		<% if(userId === job.author){%>
		 	<a href="/jobs/<%= job.id %>/delete"><button class="delete-job-btn">Delete</button></a>
		 	<a href="/jobs/<%= job.id %>/edit"><button class="edit-job-btn">UPDATE</button></a>
		<%}%>
	</div>
</div>
	