<%- include ../partials/nav.ejs %>


  <h2><%= user.firstName%><%= user.lastName%></h2>
  <p><%= user.username%></p>
  <p><%= user.who%></p>
  <p><%= user.updatedAt%></p>
  <p><%= user.createdAt%></p>

  <button><a href="/users/<%= user.id%>/edit">Edit</a></button>
  <button><a href="/users/<%= user.id%>/delete">Delete</a></button>

  <button><a href="/users/<%= user.id%>/jobs/new">Post A Job</a></button>